@import './base.css';

h1 {
  font-size: 46px;
  color: var(--color-magbox-blue);
}

h2 {
  font-size: 40px;
  color: var(--color-heading);
}

h6 {
  font-size: 20px;
  color: var(--color-heading);
}

.text {
  color: var(--color-text);
}
