@import './base.css';
@import 'tailwindcss';
@import 'tailwindcss-primeui';
h1 {
  font-size: 46px;
  color: var(--color-magbox-blue);
}

h2 {
  font-size: 40px;
  color: var(--color-heading);
}

h6 {
  font-size: 20px;
  color: var(--color-heading);
}

.text {
  color: var(--color-text);
}

#app {
  height: 100vh;
}

#footer {
  position: fixed;
  height: 50px;
  bottom: 0px;
  left: 12px;
  right: 0px;
  margin-bottom: 0px;
}
