@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'NationalPark';
        src: url('/fonts/nationalpark/NationalPark-VariableVF.ttf');
        font-weight: normal;
        font-display: swap;
    }
}


h1,
h2,
h3,
h4,
h5,
h6,
p, 
tr {
    font-family: 'NationalPark';
}

th {
    font-family: 'NationalPark';
    font-size: larger;

}